@tailwind base;
@tailwind components;
@tailwind utilities;

/* estilos de nomenclatura usados */
/* https://www.freecodecamp.org/espanol/news/convenciones-de-nomenclatura-de-css-que-te-ahorraran-horas-de-depuracion/ */
/* uso de variables en css */
/* https://developer.mozilla.org/es/docs/Web/CSS/Using_CSS_custom_properties */

:root {
  font-weight: 400;
  font-size: 18px; /* debería ser responsive */

  --color-icon: #344854ff;
}

body {
  min-width: 320px;
  min-height: 100dvh;  /* dinamyc viewport height https://www.campusmvp.es/recursos/post/css-lvh-svh-y-dvh-las-unidades-de-medida-para-pantallas-moviles.aspx */
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}
#root{
  position: fixed;
  top: 0;
  width: 100vw;

}