/* .body-icon {
    fill: var(--color-icon);
} */
.main-container{
    position: relative;
    top: -10em;
    z-index: -1;
}
.bg-container{
    --height-container: 60dvh;
    display: flex;
    z-index: 1;
    max-height: var(--height-container);
    position: relative;
    justify-content: center;
}
.bg-container .bg-mask{
    position: absolute;
    top: 0;
    background-color: #f1f1f17e;
    width: 100%;
    height: 100%;

}
.bg-container .bg-call-action{
    position: absolute;
    bottom: 1em;
    width: 180px;
    display: inline-block;
    margin: 0.5em 3em;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 5px;
    z-index: 2;
    text-align: center;
    
}
.bg-zara-1,
.bg-zara-2,
.bg-zara-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33dvw;
    overflow: hidden;
}
.bg-container img{
    min-width: 350px;
    min-height: var(--height-container);
}
.category-container{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}
.category-card{
    flex-basis: 300px;
    height: 35dvh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}
.category-card div{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 4px );
    color: black;
}