.user-component{
    max-width: 992px;
}
.user-login label {
    position: relative;
    pointer-events: none;
    padding-left: 1em;
    transition: all 0.3s ease-out;
    color: #171717;
    font-size: 12px;
}

.user-login input{
    border: none;
    outline-color: gray;
    border-bottom: 1px solid #171717;
    padding-left: 1em;
    transition: all 0.3s ease-out;  
}
    
.user-login input:focus{
    border-bottom: 1px solid gray;
        
}
.user-login input:focus + label{
    color: gray;
}